
@media only screen and (min-width: 1281px) {

body{
    display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
        position: relative;
        top:400px;
        background-color: hsl(222, 26%, 31%);
        
        
}

.title{
    color:whitesmoke;
    position: relative;
    top:-350px;
    left:530%;
}


 #theme{
   color: whitesmoke;
    position:relative;
    top:-64%;
    left:1100%;
}



h3{position:relative;
top:-77%;
left:1320%;
}

h3 .theme-indicators1{
position:relative;
left:-25%;
color: whitesmoke;
}
h3 .theme-indicators2 {
position: relative;
left: -5%;
color: whitesmoke;
}
h3 .theme-indicators3 {
position: relative;
    left: 10%;
    color: whitesmoke;
}

/*toogle button*/

.switch {
    position: relative;
    display: inline-block;
    width: 0px;
    height: 34px;
    top:-78.5%;
    left:1270%;
}

.switch .toggle-button{
    height: 34px;
    width:95px;
    border-radius: 34px;
   background-color:hsl(224, 36%, 15%);
    
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    transform: translateX(3px);
}

/* Rounded sliders */


.slider.round:before {
    border-radius: 50%;
}


/*screen background*/
.display-container{
    position:relative;
    top:-260px;
    left:14.5%;
    color: whitesmoke;
    font-size: 400%;
    height: fit-content;
    width: 30%;
    background-color: hsl(224, 36%, 15%);
    border-radius: 5px;
    padding: 1%;
}

.display-container .number-placeholder{
    display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 7px;
        height: auto;
}

/*keypad background*/
.grid-container{
    display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:hsl(223, 31%, 20%);
        height: 470px;
        width: 30%;
        display: grid;
        grid-template-columns:13% 13% 13% 13%;
        gap: 12%;
        padding-top: 3%; 
        padding-bottom: 5%;
        padding-left: 1%;
        padding-right: 1%;
        position:relative;
        top: -100px;
        left:-17.5%;
        border-radius: 10px;
}


.grid-item{
    border:0px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 10%;
    justify-content: center;
    position:relative;
    left:-38%;
    top:-50%;
    height: fit-content;
    margin-bottom: -45%;
    
}
.button{
    background-color: hsl(30, 25%, 89%);
    font-size: xx-large;
    padding:50%;
    border-radius: 7%;
    width: 125.41px;
    height:50.2px;
    padding-bottom: 70%; 
    color:black;
}

#reset .button{
    width:360%;  
    position: relative;
    left: -35%;
    top: -50%;
    margin-top: 50%;
    background-color:hsl(225, 21%, 49%);
}


#equal .button{
    width: 360%;
    position: relative;
        left: 155%;
        top:-50%;
        margin-top: 50%;
        background-color:hsl(6, 63%, 50%);
}

}


